---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import CompanyValue from "../components/About/CompanyValue.astro";
import CTA from "../components/About/CTA.astro";
import Profile from "../components/About/Profile.astro";
import Service from "../components/About/Service.astro";
import VisMis from "../components/About/VisMis.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout title="CSN — Supplier & Distributor Bahan Baku Pakan">
  <Navbar />
  <main class="pb-20">
    <Profile />
    <VisMis />
    <CompanyValue />
    <Service />
    <CTA />
  </main>
  <Footer />
</BaseLayout>
