<section class="mx-auto max-w-6xl mt-12 mb-8">
   <!-- Card overlaps hero bottom  -->
  <div class="-mt-10 bg-emerald-100 rounded-3xl bg-surface p-6 md:p-8 shadow-soft border border-muted/20">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div>
        <div class="text-4xl md:text-5xl font-semibold text-on-surface">6 mil</div>
        <p class="mt-1 text-sm text-muted">The company's<br/>annual net income</p>
      </div>
      <div>
        <div class="text-4xl md:text-5xl font-semibold text-on-surface">315</div>
        <p class="mt-1 text-sm text-muted">Projects completed<br/>worldwide</p>
      </div>
      <div>
        <div class="text-4xl md:text-5xl font-semibold text-on-surface">120K</div>
        <p class="mt-1 text-sm text-muted">Employees work in all<br/>parts of the world</p>
      </div>
    </div>
  </div>
</section>
